.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.navbar {
  align-items: center;
  border-bottom: 1px solid rgb(150, 61, 61);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 3%;
  width: 100%;
  -webkit-box-shadow: 0px 2px 15px -8px rgba(26, 23, 23, 0.42);
  -moz-box-shadow: 0px 2px 15px -8px rgba(22, 20, 20, 0.42);
  box-shadow: 0px 2px 15px -8px rgba(29, 26, 26, 0.42);
}

.toggle {
  background: #854d16;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.DModeTog{
  background: rgb(131, 109, 73);
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggled {
  left: 18px;
}
.dark-mode {
  /* color: #fff; */
  background-color: #1d293b;

}
.NavBar{
  background-color: rgb(27, 31, 39);
  border: none;
}

